<section>
  <h2>Login</h2>
  <form (submit)="handleSubmit($event)">
    <input
      (input)="handleChange($event)"
      [value]="formData.name"
      type="text"
      placeholder="Login"
      name="name"
      required
    />
    <input
      (input)="handleChange($event)"
      [value]="formData.password"
      type="password"
      placeholder="Password"
      name="password"
      required
    />
    <button type="submit">Login</button>
  </form>
  <a routerLink="/register">Registration</a>
</section>